.contact-wrapped {
    display: flex;
    flex-direction: row;
    height: 80px;
    padding: 4px 12px;
    cursor: pointer;

    .avatar-wrapper {
        width: 70px;
        display: flex;
        flex-direction: row;
        .avatar {
            width: 100%;
        }
    }

    .info {
        flex: 1;
        padding: 4px 0px 4px 7px;

        .name {
            font-weight: bold;
            color: #333333;
        }

        .additional {
            color: #C6C6C6;
            width: 100%;
            height: 43px;
            font-size: 14px;
            line-height: 1.4;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.contact-wrapped:hover {
    background: rgba(248, 248, 248, 0.35);
}

.selected {
    background: rgba(248, 248, 248, 0.85);
}