<div class="contact-wrapped">
  <div class="avatar-wrapper">
    <img class="avatar" src="assets/img/user/default_user_2.png" alt="user_icon">
  </div>
  <div class="info">
    <div class="name">
      Name
    </div>
    <div class="additional">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vero ratione ut id sed, in repellat, beatae, nesciunt earum ipsum cumque? Ipsum, repellendus perferendis. Commodi voluptatem quaerat necessitatibus rem officiis!
    </div>
  </div>
</div>