<div class="registration-wrapper">
    <div class="box">
        <h2>Register</h2>
        <form [formGroup]="registerForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control"/>
                <div *ngIf="email?.errors && email?.touched" class="error-text">
                    {{ getErrorMessage(email) }}
                </div>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control"/>
                <div *ngIf="username?.errors && username?.touched" class="error-text">
                    {{ getErrorMessage(username) }}
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" />
                <div *ngIf="password?.errors && password?.touched" class="error-text">
                    {{ getErrorMessage(password) }}
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm password</label>
                <input type="password" formControlName="confirmPassword" class="form-control" />
                <div *ngIf="confirmPassword?.errors && (confirmPassword?.touched || password?.touched)" class="error-text">
                    {{ getErrorMessage(confirmPassword) }}
                </div>
            </div>
            <div class="form-group">
                <label for="avatar">Avatar</label>
                <input  #file type="file" [hidden]='true' class="form-control-file" accept="image/*" (change)="onFileChange($event)" >
                <button 
                    [ngClass]="{'form-control btn btn-sm' : true, 'btn-light': !fileName, 'btn-success': fileName}"  
                    (click)="file.click()"
                >Choose avatar</button>
                <label class="font-itali"> {{fileName}}</label>
            </div>
            <div class="form-group">
                <button [disabled]="registerForm?.invalid || error" class="btn btn-primary" (click)="onSubmit(registerForm)">Register</button>
                <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
            </div>
            <div [hidden]='!error' class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        </form>
            
    </div>
</div>
