<div class="wrapper">
  <div class="header">
    <div class="header-sender"> sender </div>
    <div class="header-time second-text-color"> {{ time | date:'shortTime' }} </div>
  </div>
  <div class="message-wrapper">
    <div class="message">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nisi doloremque, aliquid distinctio aut quo? Maxime distinctio eius voluptatum, nulla incidunt vitae et necessitatibus, laudantium explicabo corporis rem provident nihil?
    </div>
  </div>
  <!-- <div class="second-text-color">
    seen {{ time | date:'shortTime' }}
  </div> -->
</div>